body {
  font-style: #28284b solid;
  background-color: #f5f5f5;
}

header {
  margin: 3px;
  padding: 3px;
}

.mainAccueil {
  background-color: #f5f5f5;
}
.mainAccueil form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainAccueil .recherche-container {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  border: #28284b solid 1px;
  border-radius: 30px;
  margin: auto;
}
.mainAccueil label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainAccueil input[type=search] {
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
}
.mainAccueil input[type=submit] {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  background-color: #6968e5;
}
.mainAccueil input:hover[type=submit] {
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.3s all;
}
.mainAccueil .liste-gite-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 95%;
}
.mainAccueil .liste-gite-container .liste-gite-content {
  padding: 15px;
  border: #28284b solid 1px;
  border-radius: 30px;
  width: 85%;
  margin-top: 10px;
  overflow: hidden;
}
.mainAccueil .liste-gite-container .liste-gite-content img {
  width: 80%;
  height: 100px;
}

.ellipsis-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 4px 0px;
  grid-auto-flow: row;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "." "." "." ".";
  margin: 300px;
}

.row2 {
  grid-column-start: 1;
  grid-column-end: 2;
  border: #28284b solid 1px;
  border-radius: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
  object-fit: contain;
}

.maison {
  height: auto;
  width: auto;
}

.reservation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 4px 0px;
  grid-template-areas: "." "." "." ".";
  align-content: start;
  justify-items: center;
  align-items: start;
  border: #28284b solid 1px;
  border-radius: 30px;
}

.date {
  grid-row-start: 1;
  grid-row-end: 2;
}

.personne {
  grid-row-start: 2;
  grid-row-end: 3;
}

.corps {
  grid-row-start: 3;
  grid-row-end: 4;
}

.btn {
  grid-row-start: 4;
  grid-row-end: 5;
}

a {
  color: #28284b;
  border-radius: 30px;
}
