header {
  margin: 3px;
  padding: 3px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

main {
  margin: 50px 150px 50px 150px;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #28284b;
}

h1 {
  text-align: center;
  font-family: #28284b;
  font-size: 50px;
  color: #f5f5f5;
  text-shadow: 1px 1px 0px #6968e5;
  width: auto;
  height: auto;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}

img.logo {
  width: 100%;
  height: 100%;
}

footer {
  position: initial;
  bottom: 0;
  background-color: #28284b;
  height: 50px;
}
footer p {
  color: #f5f5f5;
  text-align: center;
}
