$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;
//écriture
$font : 'Montserrat', 'sans-serif';



header {
background: $color-dark;
display: flex

}

body{
  font-style: $color-dark solid;
  background-color: $color-light;
  font-family: $font;
  }

main {
  margin:50px 150px ;
padding: 2px 10px 2px 10px;
background-color: $color-light;
height:auto;
}

h1{
  text-align: center;
  font-family: $font;
  font-size: 50px;
  color: $color-light;
  text-shadow: 1px 1px 0px $color-middle;
  max-width: 100%;
  height: auto;
}
h2 {
  color: $color-dark;
  text-align: center;
}

//pour le grid
.container--fluid{
  display: grid; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  ". . ."; 
  justify-content: left; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 

}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}


.block {
   
 
    background-color: $color-light;
    margin: 20px;
    padding: 1px 3px 2px 3px;
    height: 80px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 5px;

  

}

/*Affichage de la liste d'hébergement*/
.liste {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat (200px) ;
  height: auto;
  background-color: $color-light;
  

}

/*Taille des photos*/
img {

  width: 300px;
}


/*Affichage fiche d'hébergement*/
.fiche_hebergement {

  display: grid;
  grid-template-columns: repeat(2, auto) ;
  grid-template-rows: repeat(8, auto) ;
  grid-template-areas: "a a"
                       "b c"
                       "d e"
                       "f f"
                       "g g"
                       "h h"
                       "h h"
                       "i i";
  height: auto;
  margin: 5% 20% ;
background-color: $color-light;
 
  span{
    /*outline: solid $color-middle 2px;*/
    background-color: $color-light;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;

 
    
  
    &:nth-child(1) {
background-color: grey;
grid-area: a;
text-align: center;
font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;



    } 
    &:nth-child(2){
      grid-area:b;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }

    &:nth-child(3){
      grid-area: c;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    &:nth-child(4){
      grid-area:d;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    &:nth-child(5){
      grid-area:e;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    &:nth-child(6){
      grid-area:f;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    &:nth-child(7){
      grid-area: g;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    &:nth-child(8){
      grid-area: h;
      background-color: $color-light;
      text-align: center;
      font-size: 20px;

box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  .btn-crud {
grid-area: i ;
background-color: $color-light;
border-radius: 5px;
margin : 10px;
display: flex;
justify-content: center;
    

  }
}

/*Affichage formulaire ajout hébergement */
.admin-content {
    height: auto;
    /*background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(29, 22, 97),rgb(80, 78, 169));*/
    background-color: $color-light;
  padding: 25px;
  margin: 5% 20%;
    .container-forms {
      background-color: rgba(231, 149, 231, 0.123);
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    grid-template-rows: repeat(7, auto) ;
    grid-template-areas:  "item1 item2"
                          "item3 item3"
                          "item3 item3"
                          "item4 item4"
                          "item5 item6"
                          "item7 item8"
                          "item9 item9"
                          ;
      height: auto;                    
      .container-item1 {
        background: rgba(255,255,255,0.1);
        grid-area: item1;
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item2{
        grid-area: item2; 
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item3 {
        grid-area: item3;
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item4{
        grid-area: item4; 
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item5 {
        grid-area: item5;
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item6{
        grid-area: item6; 
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item7 {
        grid-area: item7;
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item8{
        grid-area: item8; 
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      .container-item9 {
        grid-area: item9 ;
        margin: 4px;
        padding: 4px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }

    }
}

/*Affichage formulaire modifier hébergement */
.admin-update {
  height: auto;
  /*background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(250, 170, 211),rgb(80, 78, 169));*/
  padding: 25px;
  margin: 5% 20%;
  .container-update {
  background-color: $color-light;
  display: grid;
  grid-template-columns: repeat(2, auto) ;
  grid-template-rows: repeat(7, auto) ;
  grid-template-areas:  "item1 item2"
                        "item3 item3"
                        "item3 item3"
                        "item4 item4"
                        "item5 item6"
                        "item7 item8"
                        "item9 item9"
                        ;
    .update-item1 {
      grid-area: item1;
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item2{
      grid-area: item2; 
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item3 {
      grid-area: item3;
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 200px;
    }
    .update-item4{
      grid-area: item4; 
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 350px;
    }
    .update-item5 {
      grid-area: item5;
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item6{
      grid-area: item6; 
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item7 {
      grid-area: item7;
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item8{
      grid-area: item8; 
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }
    .update-item9 {
      grid-area: item9 ;
      margin: 4px;
      padding: 4px;
      border-radius: 5px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
backdrop-filter: blur(3px);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
height: 50px;
    }

  }
}


button {
  display: inline-block;
  background-color: $color-dark;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

 
    a{
      color:$color-light;
    }


 &:hover {
    background-color: $color-light;
   
    a {
      color: $color-dark;
    }
  }

}

.form-categorie {

  height: auto;
  /*background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(29, 22, 97),rgb(80, 78, 169));*/
  background-color: $color-light;
padding: 25px;
margin: 5% 20%;

    .categorie{
      margin: 4px;
      padding: 4px;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
      backdrop-filter: blur(3px);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      height: 50px;

    }
}

 



