$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;
//écriture
$font : 'Montserrat', 'sans-serif';



header {
background: $color-dark;
display: flex

}

body{
  font-style: $color-dark solid;
  background-color: $color-light;
  font-family: $font;
  }

main {
  margin:50px 150px ;
padding: 2px 10px 2px 10px;
background-color: $color-middle;
}

h1{
  text-align: center;
  font-family: $font;
  font-size: 50px;
  color: $color-light;
  text-shadow: 1px 1px 0px $color-middle;
  max-width: 100%;
  height: auto;
}

//pour le grid
.container--fluid{
  display: grid; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  ". . ."; 
  justify-content: left; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 

}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}


.block {
   
    outline: solid $color-dark 2px;
    background-color: $color-light;
    margin: 20px;
    padding: 1px 3px 2px 3px;
    height: 80px;

  

}

.liste {

  display: grid;
  grid-template-columns: 7fr 7fr 7fr;
  grid-template-rows: repeat (100px) ;
  height: 300px;

}

img {

  width: 300px;
}

// formulaires 


form {
  width  : 80%;
  margin : 50px; 
  display: flex;
  flex-direction: row ;
  align-items: center;
  padding: 10px;
  background-color: $color-light;
  

}

label {
  margin-top:10px;
  display:block;
  }

  input, textarea, select {
    padding:3px;
    border:1px solid $color-dark;
    border-radius:5px;
    width:300px;
    box-shadow:1px 1px 2px $color-middle;
    }
 

    select {
      margin-top:10px;
      }

 input {
   margin-top: 10px;
 }   

.col1, .col2  {
  margin : 10px;
  padding: 10px ;
}


.fiche_hebergement {

  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: repeat(8, 1fr) ;
  grid-template-areas: "a a"
                       "b c"
                       "d e"
                       "f f"
                       "g g"
                       "h h"
                       "h h"
                       "i i";
  height: auto;

 
  span{
    outline: solid $color-middle 2px;
    background-color: $color-light;
    margin: 4px;
    padding: 4px;

    &:nth-child(1) {
background-color: red;
grid-area: a;
text-align: center;
font-size: 25px;
margin-top: 15px;
    } 
    &:nth-child(2){
      grid-area:b;
      background-color: green;
    }

    &:nth-child(3){
      grid-area: c;
      background-color: yellow;
    }
    &:nth-child(4){
      grid-area:d;
      background-color: blue;
    }
    &:nth-child(5){
      grid-area:e;
      background-color: purple;
    }
    &:nth-child(6){
      grid-area:f;
      background-color: orange;
    }
    &:nth-child(7){
      grid-area: g;
      background-color: grey;
    }
    &:nth-child(8){
      grid-area: h;
      background-color: pink;
    }
  }


  .btn-crud {
grid-area: i ;
background-color: black;

  }
}

