$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;
$font : 'Montserrat', sans-serif;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-style: $color-dark solid;
    background-color: $color-light;
    color: $color-dark;
}
header{
    margin: 3px;
    padding: 3px;
}

.mainAccueil{
background-color: $color-light;

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.recherche-container{
    display: grid;
    grid-template-columns: 50% 30% 20%; 
    border: $color-dark solid 1px;
    border-radius: 30px;
    margin: auto;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

input[type="search"]{
    font-family: $font;
    font-style: $color-dark;
    padding: 10px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
}

input[type="submit"]{
    cursor: pointer;
    font-family: $font;
    padding: 0px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
    color: $color-light;
    background-color: $color-dark;
}

input:hover[type="submit"]{
    color: $color-dark;
    background-color: $color-light;
    transition: 0.8s all;
}

.liste-gite-container {  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-template-areas:
    "liste-gite-content"
    "img";
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-flow: dense;
    font-style: $color-dark;
    

    .liste-gite-content{
        padding: 15px;
        border: $color-dark solid 1px;
        border-radius: 30px;
        width: 85%;
        margin-top: 5px;
        overflow: hidden;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
    }
}
}
}

.fiche-gite-container {
    display: grid; 
    grid-template-columns: auto; 
    grid-template-rows: repeat(auto-fit,minmax(150px,1fr)); 
    gap: 4px 0px; 
    align-content: center; 
    justify-items: center; 
    align-items: start;
    justify-content: stretch;
    border: $color-dark solid 1px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
    margin: 15px;
    margin-right: 200px;
    margin-left: 200px;
}

    .nom-gite {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "h2"
        "categorie-lieux"; 
        grid-area: 1 / 1 / 2 / 2; 
        border-bottom: solid;
        justify-items: stretch;
    }
    .categorie-lieux {
        display: grid; 
        gap: 0px 0px; 
        grid-template-areas: 
        ". ."; 
        grid-area: categorie-lieux;
        justify-items: center;
    }
    .h2 { grid-area: h2;
        justify-items: center;
    }
    .photo-capacite {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(auto-fit,minmax(150px,1fr)); 
        gap: 0px 0px; 
        grid-template-areas: 
        "."
        "capacite"; 
        grid-area: 2 / 1 / 3 / 2;
        justify-items: center;
        border-radius: 20px 20px 20px 20px;
    }
        .capacite {
            display: grid; 
            grid-auto-flow: row dense; 
            grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); 
            grid-template-rows: 1fr; 
            gap: 0px 40px; 
            align-items: start;
            border-bottom: solid;
        }
            .bain { grid-area: 1 / 2 / 2 / 3; }
            .personnes { grid-area: 1 / 1 / 2 / 2; }

    .description {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "h3"
        "description-resultat"; 
        grid-area: 3 / 1 / 4 / 2;
        border-bottom: solid;
    }
            .description-resultat { grid-area: description-resultat; }
        .h3 { grid-area: h3;
        justify-self: start;
    }
    .tarif {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px;
        justify-items: center;
        grid-area: 4 / 1 / 5 / 2; 
    }
            .bouton {
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 20px; 
            grid-area: 2 / 1 / 3 / 2;
            cursor: pointer;
            text-align: center;
            }
                .reserve{ grid-area: 1 / 1 / 2 / 2;
                    border: $color-dark solid 1px;
                    border-radius: 20px;;
                    background-color: $color-dark;
                    height: 35px;
                    cursor: pointer;
                    transition: 0.3s;
                    a{
                        text-decoration: none;
                        font-family: $font;
                        color: $color-light;
                    }
                 &:hover{
                    background-color: $color-light;
                    transition: 0.8s all;
                    a{
                        color: $color-dark;
                        font-family: $font;
                    }
                    }
                }
                
                .retour{ grid-area: 1 / 2 / 2 / 3;
                        cursor: pointer;
                        font-family: $font;
                        padding: 0px;
                        outline: none;
                        transition: 0.3s;
                        border: $color-dark solid 1px;
                        border-radius: 20px;
                        text-align: center;
                        color: $color-light;
                        background-color: $color-dark;
                        height: 35px;
                            &:hover{
                            color: $color-dark;
                            background-color: $color-light;
                            transition: 0.8s all;
                        }
                }

.reservation-container {  
    display: grid;
    grid-template-rows: 20% 20% 40% 20%;
    grid-auto-columns: 1fr;
    gap: 10px 0px;
    align-items: stretch;
    overflow: hidden;
    border: $color-dark solid 1px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
}

    .date {  
        display: grid;
        grid-template-rows: 50% 50%;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 1 / 1 / 2 / 2;
        justify-items: center;
    }

    .h3 { grid-area: 1 / 1 / 2 / 2; }

        .arrive-depart {  
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-area: 2 / 1 / 3 / 2;
            align-items: start;

            .arrive { grid-area: 1 / 1 / 2 / 2; }

            .depart { grid-area: 1 / 2 / 2 / 3; }
            }

            .personne {  display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                justify-items: center;
              }
              
              .nb-personne { grid-area: 1 / 1 / 2 / 2; }
              
              .nombre-personne {  display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-area: 2 / 1 / 3 / 2;
              }
              
              .adulte { grid-area: 1 / 1 / 2 / 2; }
              
              .enfant { grid-area: 2 / 1 / 3 / 2; }
              

.corps {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px;
    justify-items: center;
    
}
  .vos-coordonnees { grid-area: 1 / 1 / 2 / 2; }
    .coordonne {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-area: 2 / 1 / 3 / 2;
        justify-items: center;
        align-items: start;
    }
        .item1 { grid-area: 1 / 1 / 2 / 2; }
        .item2 { grid-area: 2 / 1 / 3 / 2; }
        .item3 { grid-area: 3 / 1 / 4 / 2; }
        .item4 { grid-area: 4 / 1 / 5 / 2; }
        .item5 { grid-area: 5 / 1 / 6 / 2; }
        .item6 { grid-area: 6 / 1 / 7 / 2; }
        .item7 { grid-area: 7 / 1 / 8 / 2; }
        .item8 { grid-area: 8 / 1 / 9 / 2; }
        .item9 { grid-area: 9 / 1 / 10 / 2;}

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px 0 0 20px;
            overflow: hidden;
        }

            input[type="text"]{
                font-family: $font;
                font-style: $color-dark;
                padding: 10px;
                outline: none;
                transition: 0.3s;
                border: $color-dark solid 1px;
                border-radius: 20px;
                text-align: center;
                width: 300px;
            }
            input[type="email"]{
                font-family: $font;
                font-style: $color-dark;
                padding: 10px;
                outline: none;
                transition: 0.3s;
                border: $color-dark solid 1px;
                border-radius: 20px;
                text-align: center;
                width: 300px;
            }
            input[type="tel"]{
                font-family: $font;
                font-style: $color-dark;
                padding: 10px;
                outline: none;
                transition: 0.3s;
                border: $color-dark solid 1px;
                border-radius: 20px;
                text-align: center;
                width: 300px;
            }

.btn {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    justify-items: center;
    align-items: center;
}

    .envoyer { grid-area: 1 / 1 / 2 / 2;
            cursor: pointer;
            font-family: $font;
            padding: 0px;
            outline: none;
            transition: 0.3s;
            border: $color-dark solid 1px;
            border-radius: 20px;
            text-align: center;
            color: $color-light;
            background-color: $color-dark;
            height: 35px;
            width: 100px;
            justify-self: end;
                &:hover{
                font-family: $font;
                color: $color-dark;
                background-color: $color-light;
                transition: 0.8s all; }
    }

    .retour2 { grid-area: 1 / 2 / 2 / 3;
        cursor: pointer;
        font-family: $font;
        padding: 0px;
        outline: none;
        transition: 0.3s;
        border: $color-dark solid 1px;
        border-radius: 20px;
        text-align: center;
        color: $color-light;
        background-color: $color-dark;
        height: 35px;
        width: 100px;
        justify-self: start;
            &:hover{
            font-family: $font;
            color: $color-dark;
            background-color: $color-light;
            transition: 0.8s all; }
    }
