$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;
$font : 'Montserrat', sans-serif;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-style: $color-dark solid;
    background-color: $color-light;
}
header{
    margin: 3px;
    padding: 3px;
}

.mainAccueil{
background-color: $color-light;

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.recherche-container{
    display: grid;
    grid-template-columns: 50% 30% 20%; 
    border: $color-dark solid 1px;
    border-radius: 30px;
    margin: auto;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"]{
    font-family: $font;
    font-style: $color-dark;
    padding: 10px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
}

input[type="submit"]{
    cursor: pointer;
    font-family: $font;
    padding: 0px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
    background-color: $color-middle;
}

input:hover[type="submit"]{
    color: $color-dark;
    background-color: $color-light;
    transition: 0.3s all;
}

.liste-gite-container {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 95%;

.liste-gite-content{
    padding: 15px;
    border: $color-dark solid 1px;
    border-radius: 30px;
    width: 85%;
    margin-top: 10px;
    overflow: hidden;
    img{
        width: 80%;
        height: 100px;
    }
}
}
}

.ellipsis-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px 0px;
    grid-auto-flow: row;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "."
    "."
    "."
    ".";
    margin: 300px;
}

.row2{
    grid-column-start: 1;
    grid-column-end: 2;
    border: $color-dark solid 1px;
    border-radius: 30px;
}


img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    object-fit: contain;
}
.maison{
    height: auto;
    width: auto;
}

.reservation{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 4px 0px; 
    grid-template-areas: 
    "."
    "."
    "."
    "."; 
    align-content: start; 
    justify-items: center; 
    align-items: start;
    border: $color-dark solid 1px;
    border-radius: 30px;
}

.date{
    grid-row-start: 1;
    grid-row-end: 2;
}

.personne{
    grid-row-start: 2;
    grid-row-end: 3;

}

.corps{
    grid-row-start: 3;
    grid-row-end: 4;
}

.btn{
    grid-row-start: 4;
    grid-row-end: 5;
}

a{
    color: $color-dark;
    border-radius: 30px;
}
