//couleur
$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;

//écriture
$font : 'Montserrat', 'sans-serif';

//Utilitaire

$radius-btn : 5px;

@mixin absolute ($top, $right, $bottom, $left, $x, $y){
    position: absolute;
    top:$top;
    right:$right;
    bottom: $bottom;
    left:$left;
    transform: translate($x,$y);
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    margin: 3px;
    padding: 3px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $color-light;
    margin: 0;
    padding: 0;
    font-family: $font;
}

main{
    margin: 50px 150px 50px 150px;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: $color-dark;
}

h1{
    text-align: center;
    font-family: $color-dark;
    font-size: 50px;
    color: $color-light;
    text-shadow: 1px 1px 0px $color-middle;
    width: auto;
    height: auto;
}

img.logo{
    width: 100%;
    height: 100%;
}





