body {
  font-style: #28284b solid;
  background-color: #f5f5f5;
  color: #28284b;
}

header {
  margin: 3px;
  padding: 3px;
}

.mainAccueil {
  background-color: #f5f5f5;
  /*form{
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
  }

  .recherche-container{
      display: grid;
      grid-template-columns: 50% 30% 20%; 
      border: $color-dark solid 1px;
      border-radius: 30px;
      margin: auto;
  }

  label{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px 0 0 20px;
      overflow: hidden;
  }

  input[type="search"]{
      font-family: $font;
      font-style: $color-dark;
      padding: 10px;
      outline: none;
      transition: 0.3s;
      border: $color-dark solid 1px;
      border-radius: 20px;
      text-align: center;
  }

  input[type="number"]{
      font-family: $font;
      font-style: $color-dark;
      padding: 10px;
      outline: none;
      transition: 0.3s;
      border: $color-dark solid 1px;
      border-radius: 20px;
      text-align: center;
      width: 100px;
  }

  input[type="submit"]{
      cursor: pointer;
      font-family: $font;
      padding: 0px;
      outline: none;
      transition: 0.3s;
      border: $color-dark solid 1px;
      border-radius: 20px;
      text-align: center;
      color: $color-light;
      background-color: $color-dark;
  }

  input:hover[type="submit"]{
      color: $color-dark;
      background-color: $color-light;
      transition: 0.8s all;
  }*/
}
.mainAccueil form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: auto;
}
.mainAccueil .recherche-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: #28284b solid 1px;
  border-radius: 30px;
  margin: auto;
}
.mainAccueil label {
  order: 1;
  border-radius: 20px;
  overflow: hidden;
}
.mainAccueil input[type=search] {
  order: 2;
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  width: 180px;
}
.mainAccueil input[type=number] {
  order: 2;
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  width: 150px;
}
.mainAccueil input[type=submit] {
  order: 3;
  flex-grow: 2;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  color: #f5f5f5;
  background-color: #28284b;
}
.mainAccueil input:hover[type=submit] {
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.8s all;
  width: auto;
}
.mainAccueil .liste-gite-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-areas: "liste-gite-content" "img";
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-flow: dense;
  font-style: #28284b;
}
.mainAccueil .liste-gite-container .liste-gite-content {
  padding: 15px;
  border: #28284b solid 1px;
  border-radius: 30px;
  width: 85%;
  margin-top: 5px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
  box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
}
.mainAccueil .liste-gite-container .liste-gite-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.fiche-gite-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-areas: "nom-gite" "img" "button";
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-flow: dense;
  font-style: #28284b;
}
.fiche-gite-container .nom-gite {
  text-align: center;
  padding: 15px;
  border: #28284b solid 1px;
  border-radius: 30px;
  width: 85%;
  margin-top: 5px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
  box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
}
.fiche-gite-container .nom-gite img {
  width: 100%;
  height: 100%;
  object-fit: content;
}
.fiche-gite-container .nom-gite button {
  border: #28284b solid 1px;
  border-radius: 20px;
  background-color: #28284b;
  height: 35px;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.fiche-gite-container .nom-gite button a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
  text-align: center;
}
.fiche-gite-container .nom-gite button:hover {
  background-color: #f5f5f5;
  transition: 0.8s all;
}
.fiche-gite-container .nom-gite button:hover a {
  color: #28284b;
  font-family: "Montserrat", sans-serif;
}

/*
.fiche-gite-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); 
    grid-template-rows: auto;  
    gap: 4px 0px; 
    align-content: center; 
    justify-items: center; 
    align-items: start;
    justify-content: stretch;
    border: $color-dark solid 1px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
    margin: 15px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: yellow;

    .nom-gite {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "h2"
        "categorie-lieux"; 
        grid-area: 1 / 1 / 2 / 2; 
        border-bottom: solid;
        justify-items: stretch;
    .categorie-lieux {
        display: grid; 
        gap: 0px 0px; 
        grid-template-areas: 
        ". ."; 
        grid-area: categorie-lieux;
        justify-items: center;
    }
    .h2 { grid-area: h2;
        justify-items: center;
    }
}
    .photo-capacite {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "."
        "capacite"; 
        grid-area: 2 / 1 / 3 / 2;
        justify-items: center;
        border-radius: 20px 20px 20px 20px;

        .capacite {
            display: grid; 
            grid-auto-flow: row dense; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 40px; 
            align-items: start;
            border-bottom: solid;

            .bain { grid-area: 1 / 2 / 2 / 3; }
            .personnes { grid-area: 1 / 1 / 2 / 2; }
        }
    }
    .description {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "h3"
        "description-resultat"; 
        grid-area: 3 / 1 / 4 / 2;
        border-bottom: solid;

            .description-resultat { grid-area: description-resultat; }
        .h3 { grid-area: h3;
        justify-self: start;
    }
}
    .tarif {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px;
        justify-items: center;
        grid-area: 4 / 1 / 5 / 2; 
    }
            .bouton {
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 20px; 
            grid-area: 2 / 1 / 3 / 2;
            cursor: pointer;
            text-align: center;
            }
                .reserve{ grid-area: 1 / 1 / 2 / 2;
                    border: $color-dark solid 1px;
                    border-radius: 20px;;
                    background-color: $color-dark;
                    height: 35px;
                    cursor: pointer;
                    transition: 0.3s;
                    a{
                        text-decoration: none;
                        font-family: $font;
                        color: $color-light;
                        text-align: center;
                    }
                 &:hover{
                    background-color: $color-light;
                    transition: 0.8s all;
                    a{
                        color: $color-dark;
                        font-family: $font;
                    }
                    }
                }

                .retour{ grid-area: 1 / 2 / 2 / 3;
                        cursor: pointer;
                        font-family: $font;
                        padding: 0px;
                        outline: none;
                        transition: 0.3s;
                        border: $color-dark solid 1px;
                        border-radius: 20px;
                        text-align: center;
                        color: $color-light;
                        background-color: $color-dark;
                        height: 35px;
                            &:hover{
                            color: $color-dark;
                            background-color: $color-light;
                            transition: 0.8s all;
                        }
                }
            }
*/
.reservation-container {
  display: grid;
  grid-template-rows: 20% 20% 40% 20%;
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  align-items: stretch;
  overflow: hidden;
  border: #28284b solid 1px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
  box-shadow: 2px 2px 6px 0px rgba(40, 40, 75, 0.75);
}

.date {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1/1/2/2;
  justify-items: center;
}

.h3 {
  grid-area: 1/1/2/2;
}

.arrive-depart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 2/1/3/2;
  align-items: start;
}
.arrive-depart .arrive {
  grid-area: 1/1/2/2;
}
.arrive-depart .depart {
  grid-area: 1/2/2/3;
}

.personne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
}

.nb-personne {
  grid-area: 1/1/2/2;
}

.nombre-personne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 2/1/3/2;
}

.adulte {
  grid-area: 1/1/2/2;
}

.enfant {
  grid-area: 2/1/3/2;
}

.corps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  justify-items: center;
}

.vos-coordonnees {
  grid-area: 1/1/2/2;
}

.coordonne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: 2/1/3/2;
  justify-items: center;
  align-items: start;
}

.item1 {
  grid-area: 1/1/2/2;
}

.item2 {
  grid-area: 2/1/3/2;
}

.item3 {
  grid-area: 3/1/4/2;
}

.item4 {
  grid-area: 4/1/5/2;
}

.item5 {
  grid-area: 5/1/6/2;
}

.item6 {
  grid-area: 6/1/7/2;
}

.item7 {
  grid-area: 7/1/8/2;
}

.item8 {
  grid-area: 8/1/9/2;
}

.item9 {
  grid-area: 9/1/10/2;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

input[type=text] {
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

input[type=email] {
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

input[type=tel] {
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  justify-items: center;
  align-items: center;
}

.envoyer {
  grid-area: 1/1/2/2;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  color: #f5f5f5;
  background-color: #28284b;
  height: 35px;
  width: 100px;
  justify-self: end;
}
.envoyer:hover {
  font-family: "Montserrat", sans-serif;
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.8s all;
}

.retour2 {
  grid-area: 1/2/2/3;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  color: #f5f5f5;
  background-color: #28284b;
  height: 35px;
  width: 100px;
  justify-self: start;
}
.retour2:hover {
  font-family: "Montserrat", sans-serif;
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.8s all;
}

footer {
  background-color: #28284b;
  height: 50px;
}
footer p {
  color: #f5f5f5;
  text-align: center;
}
