body {
  font-style: #28284b solid;
  background-color: #f5f5f5;
}

header {
  margin: 3px;
  padding: 3px;
}

.mainAccueil {
  background-color: #f5f5f5;
}
.mainAccueil form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.mainAccueil .recherche-container {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  border: #28284b solid 1px;
  border-radius: 30px;
  margin: auto;
}
.mainAccueil label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.mainAccueil input[type=search] {
  font-family: "Montserrat", sans-serif;
  font-style: #28284b;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
}
.mainAccueil input[type=submit] {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  color: #f5f5f5;
  background-color: #28284b;
}
.mainAccueil input:hover[type=submit] {
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.8s all;
}
.mainAccueil .liste-gite-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 95%;
}
.mainAccueil .liste-gite-container .liste-gite-content {
  padding: 15px;
  border: #28284b solid 1px;
  border-radius: 30px;
  width: 85%;
  margin-top: 10px;
  overflow: hidden;
}
.mainAccueil .liste-gite-container .liste-gite-content img {
  width: 80%;
  height: 100px;
}

.fiche-gite-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  gap: 4px 0px;
  align-content: flex-start;
  justify-items: center;
  align-items: flex-start;
}

.nom-gite {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "h2" "categorie-lieux";
  grid-area: 1/1/2/2;
  border-bottom: solid;
  justify-items: center;
}

.categorie-lieux {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  grid-area: categorie-lieux;
  justify-items: center;
}

.h2 {
  grid-area: h2;
  justify-items: center;
}

.photo-capacite {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "." "capacite";
  grid-area: 2/1/3/2;
  justify-items: center;
}

.capacite {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  justify-items: center;
  border-bottom: solid;
}

.bain {
  grid-area: 1/2/2/3;
}

.personnes {
  grid-area: 1/1/2/2;
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "h3" "description-resultat";
  grid-area: 3/1/4/2;
  border-bottom: solid;
}

.description-resultat {
  grid-area: description-resultat;
}

.h3 {
  grid-area: h3;
  justify-self: start;
}

.tarif {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  grid-area: 4/1/5/2;
}

.bouton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-area: 2/1/3/2;
  cursor: pointer;
  text-align: center;
}

.reserve {
  grid-area: 1/1/2/2;
  border: #28284b solid 1px;
  border-radius: 20px;
  background-color: #28284b;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.reserve a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
}
.reserve:hover {
  background-color: #f5f5f5;
  transition: 0.8s all;
}
.reserve:hover a {
  color: #28284b;
  font-family: "Montserrat", sans-serif;
}

.retour {
  grid-area: 1/2/2/3;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  outline: none;
  transition: 0.3s;
  border: #28284b solid 1px;
  border-radius: 20px;
  text-align: center;
  color: #f5f5f5;
  background-color: #28284b;
  height: 35px;
}
.retour:hover {
  color: #28284b;
  background-color: #f5f5f5;
  transition: 0.8s all;
}

.reservation-container {
  display: grid;
  grid-template-rows: 15% 25% 45% 15%;
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  overflow: hidden;
}

.date {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1/1/2/2;
  background-color: red;
}

.h3 {
  grid-area: 1/1/2/2;
}

.arrive-depart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 2/1/3/2;
  background-color: purple;
}
.arrive-depart .arrive {
  grid-area: 1/1/2/2;
}
.arrive-depart .depart {
  grid-area: 1/2/2/3;
}

.personne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-area: 2/1/3/2;
}

.nb-personne {
  grid-area: 1/1/2/2;
}

.nombre-personne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-area: 2/1/3/2;
}

.adulte {
  grid-area: 1/1/2/2;
}

.enfant {
  grid-area: 2/1/3/2;
}

.corps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  gap: 0px 0px;
  grid-area: 3/1/4/2;
  background-color: aqua;
}
.corps .vos-coordonnees {
  grid-area: 1/1/2/2;
}
.corps .coordonne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: 2/1/3/2;
}

.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-area: 4/1/5/2;
  align-self: right;
  background-color: brown;
}
.btn .button[type=submit] {
  grid-area: 1/1/2/2;
}
.btn .button[type=button] {
  grid-area: 1/2/2/3;
}
