@import '_style_reservation';
$color-middle : #6968e5;
$color-light :#f5f5f5;
$color-dark : #28284b;
$font : 'Montserrat', sans-serif;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-style: $color-dark solid;
    background-color: $color-light;
    color: $color-dark;
}




header{
    margin: 3px;
    padding: 3px;
}

.mainAccueil{
background-color: $color-light;

form{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: auto;
}

.recherche-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border : $color-dark solid 1px;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    @media screen and (max-width: 900px) {
        width: 100%;
        
    }
}

label{
    order: 1;
    border-radius: 20px;
    width: 40%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

input[type="search"], input[type="number"]{
    order: 2;
    font-family: $font;
    font-style: $color-dark;
    padding: 10px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
    width: 180px;
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

input[type="submit"]{
    order: 3;
    flex-grow: 2;
    cursor: pointer;
    font-family: $font;
    padding: 0px;
    outline: none;
    transition: 0.3s;
    border: $color-dark solid 1px;
    border-radius: 20px;
    text-align: center;
    color: $color-light;
    background-color: $color-dark;
    @media screen and (max-width: 900px) {
        width: 100%;
        height: 40px;
    }
}

input:hover[type="submit"]{
    color: $color-dark;
    background-color: $color-light;
    transition: 0.8s all;
    width: auto;
}

.liste-gite-container {  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-areas:
    "liste-gite-content"
    "img";
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-flow: dense;
    font-style: $color-dark;
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .liste-gite-content{
        padding: 15px;
        border: $color-dark solid 1px;
        border-radius: 30px;
        width: 85%;
        margin-top: 5px;
        overflow: hidden;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        font-family: $font;
        outline: none;
        transition: 0.3s;
        margin-top: 30px;
        border: $color-dark solid 1px;
        border-radius: 20px;
        color: $color-light;
        background-color: $color-dark;
        height: 30px;
        width: 100%;
        text-decoration: none;
            &:hover{
            font-family: $font;
            color: $color-dark;
            background-color: $color-light;
            transition: 0.8s all; }
    }
}
}

.fiche-gite-container {  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-areas:
    "nom-gite"
    "img"
    "button";
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-flow: dense;
    font-style: $color-dark;
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nom-gite {  
        text-align: center;
        padding: 15px;
        border: $color-dark solid 1px;
        border-radius: 30px;
        width: 65%;
        margin-top: 5px;
        overflow: hidden;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75); 
        box-shadow: 2px 2px 6px 0px rgba(40,40,75,0.75);
        img{
            width: 100%;
            height: 100%;
            object-fit: content;
        }
    }
    .btn {  
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        button{ 
            border: $color-dark solid 1px;
            border-radius: 20px;
            background-color: $color-dark;
            color: $color-light;
            font-family: $font;
            height: 40px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
        a{
            border: $color-dark solid 1px;
            border-radius: 20px;
            background-color: $color-dark;
            color: $color-light;
            font-family: $font;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            text-decoration: none;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
}


